@model B2C2Core.Models.Klant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Klant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
    </dl>

    <h3>Orders</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Klantid
                </th>
                <th>
                    Filiaalid
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KlantId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FiliaalId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
